DATABASE_URL=postgresql+asyncpg://taskflow_user:taskflow_password@localhost:5432/taskflow_db
POSTGRES_USER =yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdbname
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
PROJECT_NAME="Task Flow API"
